.App {
  text-align: center;
}

.progress-container{
  height: 20px;
  background-color: lightgray;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  margin:100px;

  .progress{
   
    background-color: green;
  }
}